
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }

  .rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .rating input {
    display: none;
  }

  .rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: gold;
  }

  .rating input:checked + label:hover,
  .rating input:checked ~ label:hover ~ label {
    color: gold;
  }

.details {
    text-align: center;

}
.sarees{
    border-style: solid;
    border-radius: 5px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction:row ;
    justify-content: space-evenly;
    align-items: flex-start; 
}
.details img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.details h2 {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
}
a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button{
    background-color: red;
    color: black;
}

